<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SplitePacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SplitePacker.Properties.Settings>
            <setting name="ImageFilter" serializeAs="String">
                <value>pngファイル(*.png)|*.png|すべてのファイル(*.*)|*.*</value>
            </setting>
            <setting name="PackFilter" serializeAs="String">
                <value>SpritePackerファイル(*.spack)|*.spack|すべてのファイル(*.*)|*.*</value>
            </setting>
            <setting name="PackDefault" serializeAs="String">
                <value>新規SpritePacker.spack</value>
            </setting>
        </SplitePacker.Properties.Settings>
    </applicationSettings>
</configuration>